<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager/layouts/layout-manager.html}">
<head>
<meta charset="UTF-8">
<title>manager Home</title>
<!-- Link Bootstrap -->
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="container mt-5">
			<h2>Trang chủ của manager</h2>

			<div class="mt-4">
				<!-- Nút Logout -->
				<a th:href="@{/logout}" class="btn btn-danger">Đăng xuất</a>

				<!-- Nút Xem list Category -->
				<a th:href="@{/manager/categories}" class="btn btn-primary">Category</a>

				<!-- Nút Xem list Video -->
				<a th:href="@{/manager/videos}" class="btn btn-primary">Video</a>

				<!-- Nút Xem Profile -->
				<a th:href="@{/manager/profile}" class="btn btn-secondary">Profile</a>
			</div>
		</div>
	</div>
	<!-- Optional JS for Bootstrap -->
	<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}"></script>
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
