<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>user Layout</title>
    
    <!-- ✅ Bạn có thể thêm CSS ở đây nếu dùng chung -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <header class="row">
        <div class="col">
            <div th:replace="~{user/fragments/header :: header}"></div>
        </div>
    </header>

    <main class="container">
        <section class="row mt-4">
            <div class="col mt-5 mb-5">
                <div layout:fragment="content"></div>
            </div>
        </section>
    </main>

    <footer class="row">
        <div class="col">
            <div th:replace="~{user/fragments/footer :: footer}"></div>
        </div>
    </footer>

    <div layout:fragment="scripts"></div>

</body>
</html>
